{% extends 'navbar.html' %}
{% block content %}

<div class='row'>
	{% if messages %}
		{% for msg in messages %}
			{{msg}}
		{% endfor %}
	{% endif %}
	<div class='col-sm-3'></div>
	<div class='col-md-7'>
		<div class='card'>
			<div class='card-head bg-primary' align=center><h1>Registration Form</h1></div>
			<div class='card-body'>
				<form action="{% url 'register' %}" method=POST>
					{% csrf_token %}
					<h1 class='bg-primary'></h1>
					Name <input class='form-control' type="text" name="user"> <br>
					Age <input class='form-control' type="integer" name="age"><br>
					Branch <input class='form-control' type="text" name="branch"><br>
					Mobile <input class='form-control' type="text" name="phone"><br>
					Email <input class='form-control' type="email" name="mail"><br>
					<input class='btn btn-success' type="submit" name="register" value="Register">
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}

