<!DOCTYPE html>
<html>
<head>
	<title>Forms</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
	<center>
	<h2> Registration Form</h2>
	<p>Hello </p>
	<form>
		FirstName:<br><input type="text" name="firstname" placeholder="Enter the FirstName"><br><br>
		LastName:<br><input type="text" name="text" placeholder="Enter the lastName"><br><br>
		Email:<br><input type="email" name="email" placeholder="Enter your Eamilid"><br><br>
		Password:<br><input type="password" name="password" placeholder="Enter your password"><br><br>
		<br><input type="submit" name="Submit"><br>

		
	</form>
	<img src="/static/images/sv.jpeg" height="500px" width="500px">
	</center>
</body>
</html>